html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: grey;
}

#container {
	min-height: 100%;
	position: relative;
}

#headCont {
	background-color: black;
	position: absolute;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}


#headData {
	color:white;
	font-size:20px;
}


#menuCont {
	float: right;
	padding-right: 10px;
	color: white;
	text-decoration-line: none;
}


#searchCont {
	padding-left: 60px;
}


input[name="searchVal"] {
	width:40%;
	border-radius: 55px;
}


#mainPageContent {
	padding-top: 80px;
	padding-bottom: 60px;
}


#footCont {
	background-color: black;
	color: white;
	bottom: 0;
	position:absolute;
    bottom:0;
    width:100%;
    height:40px;	
}
